# Common configuration shared between all applications
configserver:
  name: Docker JHipster Registry
  status: Connected to the JHipster Registry running in Docker

jhipster:
  security:
    authentication:
      jwt:
        # secret key which should be base64 encoded and changed in production
        base64-secret: Y2M2MGMzZTNhMzUzMzExOWY0M2I4YmY0YWFhYmU3NzI0YTFmMGYxNmU1ODg4MTIzOThmMWY4Y2NiMDQxOTFlMWY4YWM5NjgxYmVlNjJiZWIyY2FiMDQzOGNhMGI3MDRlNDk2ZDAxZGQ5ZmEyZDQyMmY3MTBlZmQyMDE0ODA3Yzc=

eureka:
  client:
    service-url:
      defaultZone: http://admin:${jhipster.registry.password}@localhost:8761/eureka/
